@{
    ViewData["Title"] = "Home Page";
}
<style>
    .button.scrolly{
		scroll-behavior: smooth;
	}
</style>
@section banner {
<section id="banner">
                    
	<div class="content">
                      
        <a href="#main" class="button scrolly cta" style="scroll-behavior: smooth;">
        <span>Visita la fiera!</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
							
        </a>
	</div>
</section>}
